In [1]:
#how to print
print("Hello Naveen!")

Hello Naveen!

In [2]:
#using Variable<=This is comment
#a is variable and naveen malik string value
#string values will come in double quoutes"" or single quotes''
a = "Naveen Malik"
print(a)

Naveen Malik

In [10]:
#how to create variables
#x,y and z are variables
#Variables are containers for storing data values.
x = 10  #int value
y = 6   #int value
s = "naveen" #string value
z = x + y
m = x - y
print("Add=>", z)
print("Sub=>", m)
print(s)

Add=> 16
Sub=> 4
naveen

In [18]:
#Variable names are case-sensitive
# A, a are different variable
A = str(3)
B = int(3)
C = float(3)
print(A)
print(B)
print(C)

3
3
3.0

In [13]:
# how to Get the Type
X = 28
S = "malik"
print(type(X))
print(type(S))

<class 'int'>
<class 'str'>

In [17]:
"""
Built-in Data Types
Text Type: 	str
Numeric Types: 	int, float, complex
Sequence Types: 	list, tuple, range
Mapping Type: 	dict
Set Types: 	set, frozenset
Boolean Type: 	bool
Binary Types: 	bytes, bytearray, memoryview
None Type: 	NoneType
"""
print("This is multiple comment")

This is multiple comment

In [20]:
#Python casting
#converts a variable's data type into another data type
x = int(4)   # x will be 4
y = int(4.8) # y will be 4
z = int("2") # z will be 2
print(x)
print(y)
print(z)

4
4
2

In [28]:
#use of string
#positions will be start from 0,1,2...n
#You can return a range of characters by using the slice syntax(Slicing)
stringName = "naveen malik"
print(stringName)
print(stringName[1]) #for finding the position using Slicing
print(stringName[3:7]) #Square brackets can be used to access characters of the string(Slicing)
print(stringName[-1])  #last position of string

naveen malik
a
een
k

In [25]:
#length of string
print(len(stringName))

12

In [27]:
#for loop of string
#Looping Through a String
for i in "naveen":
    print(i)

n
a
v
e
e
n

In [29]:
#Upper Case
print(stringName.upper())

NAVEEN MALIK

In [30]:
#lower Case
print(stringName.lower())

naveen malik

In [31]:
#Remove Whitespace
space_remove = " Hello Naveen "
print(space_remove.strip())

Hello Naveen

In [32]:
#Replace String
replace_string = "naveen"
print(replace_string.replace("ee","i"))

navin

In [38]:
#Split String
d = "naveen malik"
print(d.split())
print(d.split("a"))
print(d.split("e"))

['naveen', 'malik']
['n', 'veen m', 'lik']
['nav', '', 'n malik']

In [39]:
#String Concatenation
x = "naveen"
y = "malik"
concate = x + y
print(concate)

naveenmalik

In [2]:
x = "naveen"
y = "malik"
con = x + " " + y #for adding space
print(con)

naveen malik

In [16]:
#PythonLists
#List_items are ordered, changeable, and allow duplicate values
list1 = [10, 20, 50, "naveen", 100, "malik"]
print(list1)

[10, 20, 50, 'naveen', 100, 'malik']

In [8]:
#reverseList
list2 = [200, 100, 500, 10]
list2.reverse()
print(list2)

[10, 500, 100, 200]

In [9]:
#length of list
print(len(list1))
print(len(list2))

6
4

In [10]:
print(type(list1))
print(type(list2))

<class 'list'>
<class 'list'>

In [12]:
#AccessListItems
print(list1[1])
print(list1[2:4])

100
['naveen', 50]

In [14]:
print(list1[-1])

10

In [18]:
#list1 = [10, 20, 50, "naveen", 100, "malik"]

In [17]:
print(list1[::-1])

['malik', 100, 'naveen', 50, 20, 10]

In [20]:
#adding new element
list1[1] = 101 #at the position of 1
print(list1)

[10, 101, 50, 'naveen', 100, 'malik']

In [21]:
list1.append("gurugram") #adding element at the last position using append() fn
print(list1)

[10, 101, 50, 'naveen', 100, 'malik', 'gurugram']

In [22]:
#using pop() fn we can remove element from the last position or mentioniong the element
list1.pop()
print(list1)

[10, 101, 50, 'naveen', 100, 'malik']

In [23]:
#add the elements of the iterable at the end of the current list as list elements use extend() fn
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]
list_1.extend(list_2)
print(list_1)

[1, 2, 3, 4, 5, 6]

In [1]:
mytuple = ("naveen", 28, "malik", 9, 3, 29)
print(mytuple)

('naveen', 28, 'malik', 9, 3, 29)

In [3]:
print(mytuple[::-1])   #reverse tuple

(29, 3, 9, 'malik', 28, 'naveen')

In [1]:
#convert tuple into list
mytuple = (28, "naveen", "ashish", 30)
mylist = list(mytuple)
print(mylist)

[28, 'naveen', 'ashish', 30]

In [3]:
mylist[1] = 25
print(mylist)

[28, 25, 'ashish', 30]

In [6]:
mytuple = tuple(mylist)
print(mytuple)

(28, 25, 'ashish', 30, 'naveen')

In [7]:
t = mytuple[1:3]
print(t)

(25, 'ashish')

In [8]:
if 'naveen' in mytuple:
    print("Yes, naveen is present in tuple")
else:
    print("Not present")

Yes, naveen is present in tuple

In [1]:
name = "naveen"
tuple_name = tuple(name)
print(tuple_name)

('n', 'a', 'v', 'e', 'e', 'n')

In [3]:
print(tuple_name[0:3]) #access tuple element using index

('n', 'a', 'v')

In [5]:
print(tuple_name[::-1]) #reversing of tuple element

('n', 'e', 'e', 'v', 'a', 'n')

In [1]:
#adding of list items
list1 = [12, 34, 28, 29, 9, 10]
add = 0
for i in list1:
    add += i
print("The sum of list items:", add)
if add>150:
    print("Valid")
else:
    print("Not valid")

The sum of list items: 122
Not valid

In [3]:
#dictionary
dict1 = {
    "name" : "Naveen Malik",
    "id" : 28,
    "city" : "Sonipat",
    "phone" : 123445
}
print(type(dict1))
print(dict1)

<class 'dict'>
{'name': 'Naveen Malik', 'id': 28, 'city': 'Sonipat', 'phone': 123445}

In [14]:
print(dict1["name"])

Naveen Malik

In [16]:
#add new key value
dict1["post"] = "developer"
print(dict1)

{'name': 'Naveen Malik', 'id': 28, 'city': 'Sonipat', 'phone': 123445, 'post': 'developer'}

In [2]:
myset = {"naveen", "malik", "sonipat", "gurugram"}
print(type(myset))
print(myset)

<class 'set'>
{'sonipat', 'malik', 'gurugram', 'naveen'}